<a href="/recipe/{{id}}">
<div class="recipe-card-header">
    {{recipe.title}}
  </div>
  <div class="card-body">
<img src="{{recipe.image}}" alt="{{recipe.author}}">
        <h2>Instructions</h2>
        <p>{{recipe.instructions}}</p>

        <h2>Ingredients</h2>
        <p>{{recipe.ingredients}}</p>
    </div>
</a>