<section class="cards">
  <a href="/recipe/{{id}}">
<div class="recipe-card">
<figure>
<img src="{{image}}" alt="{{title}}">
</figure>
</a>
  <div class="card-body">
    <h2>{{title}}</h2>
    <h4>Posted by {{author}}</h4>
       <p>{{ingredients}}</p>

       </div>

    
    
</div>
</section>